body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
}
div{
    background-color: pink
}
#home-point,#guest-point{
    background-color: black;
    color: red;
    text-align: center;
    
}
button{
    background: transparent;
     
}
#reset-btn{
    background-color: burlywood;
    text-align: center
    
}